/*
 * Jetpack Contact Form Styles
 */

.wp-block-jetpack-contact-form label {
	font-weight: 400 !important;

	span {
		font-size: 100% !important;
		color: var(--wp--preset--color--charcoal-4);
	}
}

.wp-block-jetpack-contact-form input {
	max-width: 400px;
}

.wp-block-jetpack-contact-form input[type="email"],
.wp-block-jetpack-contact-form input[type="tel"],
.wp-block-jetpack-contact-form input[type="text"],
.wp-block-jetpack-contact-form input[type="url"],
.wp-block-jetpack-contact-form textarea {
	padding: 4px 8px !important;
	border: 1px solid var(--wp--preset--color--charcoal-4) !important;
	border-radius: 2px;
}
