/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

/*
 * Block styles.
 */

/*
 * core/pull.
 */

.wp-block-quote {
	margin-left: 0;
	border-width: 0 0 0 1px;
}

/*
 * core/search.
 */

.is-style-secondary-search-control {
	display: flex;
	align-items: center;
}

.is-style-secondary-search-control > label {
	flex: 0;
	font-size: var(--wp--preset--font-size--extra-small) !important;
	padding-right: var(--wp--preset--spacing--10) !important;
}

.is-style-secondary-search-control input[type="search"] {
	border: none !important;
	font-size: var(--wp--preset--font-size--extra-small) !important;
	padding: 0 var(--wp--preset--spacing--10) !important;
}

.wp-block-search__no-button.is-style-secondary-search-control input[type="search"] {
	min-height: var(--wp--preset--spacing--40);
	border: 1px solid var(--wp--preset--color--charcoal-1) !important;
}

.wp-block-search__button-inside.is-style-secondary-search-control .wp-block-search__inside-wrapper {
	border: 1px solid var(--wp--preset--color--charcoal-1) !important;
	border-radius: 2px !important;
}

.wp-block-search__button-outside.is-style-secondary-search-control input[type="search"] {
	border: 1px solid var(--wp--preset--color--charcoal-1) !important;
	border-radius: 2px !important;
}

.wp-block-search__button-outside.is-style-secondary-search-control button[type="submit"] {
	border: 1px solid var(--wp--preset--color--charcoal-1) !important;
}

.is-style-secondary-search-control button[type="submit"] {
	background-color: transparent !important;
	color: var(--wp--preset--color--charcoal-1) !important;
}

.is-style-secondary-search-control button[type="submit"] svg {
	fill: var(--wp--preset--color--charcoal-1) !important;
}

.wp-block-search__icon-button.is-style-secondary-search-control button[type="submit"] {
	padding: calc(var(--wp--preset--spacing--10) / 2) !important;
}

.wp-block-search__text-button.is-style-secondary-search-control button[type="submit"] {
	border: 1px solid var(--wp--preset--color--charcoal-1) !important;
	font-size: var(--wp--preset--font-size--extra-small) !important;
	padding: var(--wp--preset--spacing--10) !important;
}

.wp-block-search__button-inside.is-style-secondary-search-control
button[type="submit"] {
	margin: 2px;
}

/*
 * Related Posts Styles
 */

.jp-relatedposts {
	h3 {
		margin-bottom: var(--wp--preset--spacing--20);
	}

	.jp-relatedposts-items-visual {
		margin-right: 0 !important;
	}

	.jp-relatedposts-post {
		padding-right: 0 !important;
		margin-right: 0 !important;
		opacity: 1 !important; /* Applied by JetPack */
		text-align: center;
	}

	@media (min-width: 320px) and (max-width: 640px) {
		.jp-relatedposts-post:nth-child(odd) {
			padding-right: var(--wp--preset--spacing--10) !important;
		}

		.jp-relatedposts-post:nth-child(even) {
			padding-left: var(--wp--preset--spacing--10) !important;
		}
	}

	@media (min-width: 641px) {
		.jp-relatedposts-post:first-child {
			padding-right: var(--wp--preset--spacing--20) !important;
		}

		.jp-relatedposts-post:nth-child(2) {
			padding-left: var(--wp--preset--spacing--10) !important;
			padding-right: var(--wp--preset--spacing--10) !important;
		}

		.jp-relatedposts-post:last-child {
			padding-left: var(--wp--preset--spacing--20) !important;
		}
	}

	.jp-relatedposts-post-img {
		border: 1px solid var(--wp--preset--color--light-grey-1);
	}

	.jp-relatedposts-post-a {
		display: block;
		margin-bottom: var(--wp--preset--spacing--10);
		color: var(--wp--preset--color--charcoal-1);
	}
}

/*
 * SiteScreenshot - Single Page
 */

@media (min-width: 992px) {
	.wporg-single-site-screenshot {
		position: relative;
		height: 600px;
		overflow: hidden;
	}

	.wporg-single-site-screenshot img {
		position: absolute;
	}
}

@media (max-width: 1199px) {

	/* Once we start touching content, add in some side padding. */
	.entry-content.entry-content > .alignwide,
	.entry-content.entry-content > .alignfull {
		padding-left: var(--wp--preset--spacing--60) !important;
		padding-right: var(--wp--preset--spacing--60) !important;
	}

	/* Ensure nested full-alignment items are still full-width */
	.entry-content.entry-content > .alignfull .alignfull {
		margin-left: calc(var(--wp--preset--spacing--60) * -1) !important;
		margin-right: calc(var(--wp--preset--spacing--60) * -1) !important;
	}

}
