/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

@import "jetpack";
@import "page-screenshot-audits";

/* Add a visible focus style that matches the theme. */
a:where(:not(.wp-element-button)):focus-visible {
	outline: 1.5px solid currentColor;
	outline-offset: 0.5px;
	border-radius: 2px;
}

/* Site Hero section */
.is-section-site-hero {
	.wp-block-cover__image-background {
		background-size: clamp(50px, 4vw, 100px);
	}

	.wp-block-column + .wp-block-column {
		align-self: stretch;
		display: flex;
	}

	.wp-block-cover {
		align-self: stretch;
	}

	/* Switch down to one column when image gets squished. */
	@media (max-width: 1179px) {
		.wp-block-columns {
			flex-direction: column;
			gap: 0;
		}

		.wp-block-cover {
			padding-left: 0 !important;
			padding-right: 0 !important;
			min-height: 0 !important;
		}
	}

	/* Hide the site title on small screens, title appears in local nav. */
	@media (max-width: 599px) {
		h1 {
			display: none;

			+ p {
				margin-top: 0 !important;
			}
		}
	}
}

/* Hide the site title on small screens, title appears in local nav. */
@media (min-width: 600px) {
	body.home .wp-block-site-title a {
		display: none;
	}
}

/* Style the site grid. */
.wp-block-query .is-layout-grid {
	.wp-block-post-title {
		flex-shrink: 0;
	}

	.wp-block-post-terms {
		max-width: 60%;
		padding-inline-start: 2px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		.wp-block-post-terms__separator {
			white-space: inherit;
		}
	}
}

@media (max-width: 1440px) {
	.wp-block-post-template.is-layout-grid.columns-3:not(.wporg-related-posts) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (max-width: 800px) {
	.wp-block-post-template.is-layout-grid.columns-3 {
		grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
	}
}

/* Page footer */
@media (max-width: 781px) {
	.wp-block-columns.is-page-footer > .wp-block-column:first-child {
		border-right: none;
		border-bottom: 1px solid var(--wp--preset--color--white-opacity-15);
	}
}

/* Update the background & text color on /thanks page. */
body.page-template-page-submit-confirmation .wp-site-blocks {
	background: var(--wp--preset--color--charcoal-1);
	color: var(--wp--preset--color--white);

	/* Hide the site title on small screens, title appears in local nav. */
	@media (max-width: 599px) {
		.wp-block-spacer.has-dark-dots-background {
			margin-bottom: -30px !important;
		}
	}
}

/* Add background to spacers. These are custom classes, not attached as block styles. */
.wp-block-spacer {
	&.has-dots-background,
	&.has-dark-dots-background {
		background-position: top center;
		background-repeat: repeat-x;
		background-size: auto;
	}

	&.has-dots-background {
		background-image: url(../../images/dots-banner.svg);
	}

	&.has-red-dots-background {
		background-image: url(../../images/dots-red-banner.svg);
	}

	&.has-dark-dots-background {
		background-image: url(../../images/dots-dark-banner.svg);
	}
}
