.wp-block-wporg-site-meta-list {
	margin-block-start: 0;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		// Needed to pass border color down to `li`.
		border-color: inherit;
	}

	li {
		display: flex;
		gap: var(--wp--preset--spacing--10);
		padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
		border-bottom: 1px solid;
		border-color: inherit;

		&:last-of-type {
			border-bottom: none;
		}

		strong {
			flex-shrink: 0;
			font-weight: 400;
		}

		span {
			margin-inline-start: auto;
			text-align: right;
			color: var(--wp--preset--color--charcoal-3);
		}

		@media (max-width: 380px) {
			flex-direction: column;
			gap: 0;

			span {
				margin-inline-start: unset;
				text-align: initial;
			}
		}
	}

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
			text-decoration-thickness: 1px;
		}
	}

	li.is-meta-domain a {
		color: var(--wp--preset--color--charcoal-5);
	}

	&.has-text-color {
		li span {
			color: inherit;
		}
	}

	&.has-hidden-label {
		li {
			padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);

			span {
				margin-inline-start: unset;
				text-align: left;
			}

			@media (max-width: 600px) {
				padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
			}
		}
	}
}
