.wp-block-wporg-site-meta-list {
	margin-block-start: 0;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		// Needed to pass border color down to `li`.
		border-color: inherit;
	}

	li {
		position: relative;
		padding-top: var(--wp--preset--spacing--10);
		padding-right: var(--wp--preset--spacing--20);
		padding-bottom: var(--wp--preset--spacing--10);
		padding-left: calc(var(--wp--custom--wporg-site-meta-list--label--width) + var(--wp--preset--spacing--10));
		text-align: end;

		&:not(:last-of-type) {
			border-bottom: 1px solid;
			border-color: inherit;
		}

		strong {
			position: absolute;
			left: var(--wp--preset--spacing--20);
			top: var(--wp--preset--spacing--10);
			max-width: calc(var(--wp--custom--wporg-site-meta-list--label--width));
			font-weight: 400;
			text-align: start;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		[dir="rtl"] & {
			padding-left: var(--wp--preset--spacing--20);
			padding-right: calc(var(--wp--custom--wporg-site-meta-list--label--width) + var(--wp--preset--spacing--10));

			strong {
				left: unset;
				right: var(--wp--preset--spacing--20);
			}
		}

		@media (max-width: 380px) {
			text-align: start;
			padding-left: var(--wp--preset--spacing--20);

			strong {
				position: static;
				display: block;
				max-width: unset;
			}

			[dir="rtl"] & {
				padding-right: var(--wp--preset--spacing--20);
			}
		}
	}

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
			text-decoration-thickness: 1px;
		}
	}

	&.has-hidden-label {
		li {
			padding: clamp(10px, calc(1.7vw), 20px) clamp(20px, calc(1.7vw + 10px), 30px);
			text-align: start;
		}
	}
}
