.wp-block-wporg-site-meta-list {
	margin-block-start: 0;

	table,
	tbody {
		// Needed to pass border color down to `tr`.
		border-color: inherit;
	}

	table {
		margin: 0;
		padding: 0;
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}

	tr {
		&:not(:last-of-type) {
			border-bottom: 1px solid;
			border-color: inherit;
		}

		th:not(.screen-reader-text),
		td {
			padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
		}

		th {
			font-weight: 400;
			text-align: start;
		}

		td {
			text-align: end;
		}

		@media (max-width: 380px) {
			display: block;

			th,
			td {
				display: block;
			}

			th:not(.screen-reader-text) {
				padding-bottom: 0;
			}

			td {
				text-align: start;
				padding-top: 0;
			}
		}
	}

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
			text-decoration-thickness: 1px;
		}
	}

	&.has-hidden-label {
		td {
			padding: clamp(10px, calc(1.7vw), 20px) clamp(20px, calc(1.7vw + 10px), 30px);
			text-align: start;
		}
	}
}
