.wp-block-wporg-site-meta-list dl {
	margin: 0;
}

.wp-block-wporg-site-meta-list dl > div {
	display: grid;
	grid-template-columns: 0.6fr 1fr;
}

.wp-block-wporg-site-meta-list dd {
	word-break: break-word;
	margin: 0 0 var(--wp--preset--spacing--10);
}

.wp-block-wporg-site-meta-list dl > div:last-child dd:last-child {
	margin-bottom: 0;
}

@media (min-width: 641px) {
	.wp-block-wporg-site-meta-list dl {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.wp-block-wporg-site-meta-list dd:last-child {
		margin-bottom: 0;
	}
}
