.wp-block-wporg-site-breadcrumbs {
	--local-header-height: 58px;
	--bar-text-color: var(--wp--preset--color--black);
	--bar-link-color: var(--wp--preset--color--black);

	color: var(--bar-text-color);
	min-height: var(--local-header-height);
	position: relative;
	margin-left: var(--wp--preset--spacing--60) !important;
	margin-right: var(--wp--preset--spacing--60) !important;

	> div {
		display: flex;
		align-items: center;
		min-height: var(--local-header-height);
		color: var(--bar-text-color);

		a {
			color: var(--bar-link-color);

			&:hover {
				opacity: 0.7;
				text-decoration-line: underline;
			}
		}

		> div {
			font-family: var(--wp--preset--font-family--inter);
			font-size: 1rem;
			font-weight: 700;
			line-height: inherit;

			// This ensures that the square separator
			// is reliably centered.
			display: flex;
			align-items: center;
			margin-top: 0;

			&::before {
				content: "";
				height: 2px;
				width: 2px;
				background: var(--bar-text-color);
				display: inline-block;
				margin: 0 0.5rem;
				border-radius: 2px;
			}

			span {
				margin-left: 0.5ch;
			}
		}
	}
}
