.wp-block-wporg-site-breadcrumbs > div {
	display: flex;
	align-items: center;
	min-height: var(--local-header-height);

	a {
		color: inherit;

		&:hover {
			opacity: 0.7;
			text-decoration-line: underline;
		}
	}

	> div {
		font-family: var(--wp--preset--font-family--inter);
		font-size: 1rem;
		font-weight: 700;
		line-height: inherit;

		// This ensures that the square separator
		// is reliably centered.
		display: flex;
		align-items: center;
		margin-top: 0;

		&::before {
			content: "/";
			display: inline-block;
			margin: 0 0.5rem;
			font-weight: 400;
		}
	}
}
