
@media (min-width: 641px) {
	.wp-block-wporg-site-meta dl {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0;
	}
}

.wp-block-wporg-site-meta dl > div {
	display: grid;
	grid-template-columns: 0.6fr 1fr;

	dt {
		flex: 0.65;
	}

	dd {
		flex: 1;
		word-break: break-word;
		margin: 0 0 var(--wp--preset--spacing--10);
	}

	&:last-child {
		margin-bottom: 0;
	}
}

