<!-- wp:template-part {"slug":"header","theme":"wporg-showcase-2022"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|90","right":"var:preset|spacing|90","bottom":"var:preset|spacing|90","left":"var:preset|spacing|90"}}},"backgroundColor":"pale-pink","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-pale-pink-background-color has-background" style="padding-top:var(--wp--preset--spacing--90);padding-right:var(--wp--preset--spacing--90);padding-bottom:var(--wp--preset--spacing--90);padding-left:var(--wp--preset--spacing--90)"><!-- wp:heading {"textAlign":"center"} -->
	<h2 class="has-text-align-center">Masthead</h2>
	<!-- /wp:heading --></div>
	<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px","margin":{"top":"var:preset|spacing|60"}}},"className":"entry-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group entry-content" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:pattern {"slug":"wporg-showcase-2022/front-page"} /-->
</main>
<!-- /wp:group -->

<!-- wp:wporg/global-footer {"style":"black-on-white"} /-->
