<!-- wp:wporg/global-header {"backgroundColor":"charcoal-1"} /-->

<!-- wp:pattern {"slug":"wporg-showcase-2022/nav-front"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px"}},"className":"entry-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group entry-content">
	<!-- wp:pattern {"slug":"wporg-showcase-2022/front-page"} /-->
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"wporg-showcase-2022/footer"} /-->

<!-- wp:wporg/global-footer {"backgroundColor":"charcoal-1"} /-->
