<!-- wp:template-part {"slug":"header" } /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px"}},"className":"entry-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group entry-content"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:pattern {"slug":"wporg-showcase-2022/results-bar"} /-->
		<!-- wp:query {"query":{"inherit":true},"displayLayout":{"type":"flex","columns":2}} -->
		<div class="wp-block-query">
			<!-- wp:post-template -->
			<!-- wp:wporg/site-screenshot /-->
			<!-- wp:post-title {"isLink":true} /-->

			<!-- wp:post-excerpt /-->

			<!-- wp:post-terms {"term":"post_tag"} /-->
			<!-- /wp:post-template -->

			<!-- wp:query-pagination -->
			<!-- wp:query-pagination-previous /-->

			<!-- wp:query-pagination-numbers /-->

			<!-- wp:query-pagination-next /-->
			<!-- /wp:query-pagination -->

			<!-- wp:query-no-results -->
			<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
			<p>No results.</p>
			<!-- /wp:paragraph -->
			<!-- /wp:query-no-results -->
		</div>
		<!-- /wp:query -->

	<!-- /wp:group --></div>
<!-- /wp:group --></main>

<!-- wp:wporg/global-footer {"style":"black-on-white"} /-->
