<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px"}},"className":"entry-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group entry-content">
	<!-- wp:wporg/site-screenshot /-->
	<!-- wp:post-title /-->
	<!-- wp:post-content /-->
	<!-- wp:post-terms {"term":"post_tag"} /-->
	<!-- wp:pattern {"slug":"wporg-showcase-2022/related-posts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"wporg-parent-2021/post-navigation"} /-->
<!-- wp:wporg/global-footer /-->
