<!-- wp:template-part {"slug":"header","className":"has-display-contents"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px"}},"className":"entry-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group entry-content">
	<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"},"padding":{"top":"var:preset|spacing|60","right":"var:preset|spacing|edge-space","left":"var:preset|spacing|edge-space"}},"border":{"bottom":{"color":"var:preset|color|light-grey-1","style":"solid","width":"1px"}},"color":{"background":"#f6f6f6"}},"className":"has-feature-color-background","layout":{"type":"constrained","wideSize":"1440px"}} -->
	<div class="wp-block-group alignfull has-feature-color-background has-background" style="border-bottom-color:var(--wp--preset--color--light-grey-1);border-bottom-style:solid;border-bottom-width:1px;background-color:#f6f6f6;margin-bottom:var(--wp--preset--spacing--50);padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--edge-space);padding-left:var(--wp--preset--spacing--edge-space)">
		<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center","verticalAlignment":"bottom"}} -->
		<div class="wp-block-group">
			<!-- wp:wporg/site-screenshot /-->
	
			<!-- wp:wporg/site-screenshot {"type":"mobile"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"wporg-showcase-2022/page-single"} /-->
</main>
<!-- /wp:group -->

<!-- wp:spacer {"height":"60px","align":"full","className":"has-dots-background","style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}}} -->
<div style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);height:60px" aria-hidden="true" class="wp-block-spacer alignfull has-dots-background"></div>
<!-- /wp:spacer -->

<!-- wp:pattern {"slug":"wporg-parent-2021/post-navigation"} /-->

<!-- wp:pattern {"slug":"wporg-showcase-2022/related-posts"} /-->

<!-- wp:pattern {"slug":"wporg-showcase-2022/footer"} /-->

<!-- wp:wporg/global-footer {"backgroundColor":"charcoal-1"} /-->