.wporg-site-screenshot {
	padding: 0;

	.components-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -9px;
		margin-left: -9px;
	}

	.components-responsive-wrapper__content {
		max-width: 100%;
		width: auto;
		max-height: 200px;
	}
}

.wporg-site-screenshot__container {
	position: relative;
}

.wporg-site-screenshot__toggle,
.wporg-site-screenshot__preview {
	width: 100%;
	padding: 0;
	box-shadow: 0 0 0 0 var(--wp-admin-theme-color);
	overflow: hidden; // Ensure the focus style properly encapsulates the image.
}

.wporg-site-screenshot__preview {
	height: auto;

	.components-responsive-wrapper {
		width: 100%;
		background: #f0f0f0;
		min-height: 90px;
	}
}

.wporg-site-screenshot__toggle {
	padding: 8px 0;
	min-height: 90px;
	display: flex;
	border-radius: 2px;
	background-color: #f0f0f0;
	line-height: 20px;
	text-align: center;
	justify-content: center;

	&:hover {
		background: #ddd;
		color: #1e1e1e;
	}
}

.wporg-site-screenshot__actions {
	position: absolute;
	bottom: 0;
	padding: 8px;
	width: 100%;
	display: flex;
	gap: 8px;
	opacity: 0; // Use opacity instead of visibility so that the buttons remain in the tab order.

	.wporg-site-screenshot__container:hover &,
	.wporg-site-screenshot__container:focus &,
	.wporg-site-screenshot__container:focus-within & {
		opacity: 1;
	}
}

.wporg-site-screenshot__action {
	backdrop-filter: blur(16px) saturate(180%);
	background: rgba(255, 255, 255, 0.75);
	flex-grow: 1;
	justify-content: center;
}
