.wp-block-wporg-site-screenshot {
	overflow: hidden;
	border-width: var(--wp--custom--wporg-site-screenshot--border--width);
	border-style: solid;
	border-color: var(--wp--custom--wporg-site-screenshot--border--color);
	border-radius: var(--wp--custom--wporg-site-screenshot--border--radius);
	transition: border-color 0.2s ease-in-out;

	&:where(.is-linked-image):hover,
	&:where(.is-linked-image):focus-within {
		--wp--custom--wporg-site-screenshot--border--color: rgba(30, 30, 30, 0.25);
	}

	&:where(.is-linked-image):focus-within {
		outline: 1.5px solid var(--wp--custom--link--color--text);
		outline-offset: -1.5px;
	}

	.has-feature-color-background &,
	.is-section-site-hero & {
		--wp--custom--wporg-site-screenshot--border--width: clamp(4px, calc(1.33vw - 1.33px), 20px);
		--wp--custom--wporg-site-screenshot--border--radius: calc(clamp(4px, calc(1.33vw - 1.33px), 20px) * 2);
		border-bottom-width: 0;
		border-radius:
			var(--wp--custom--wporg-site-screenshot--border--radius)
			var(--wp--custom--wporg-site-screenshot--border--radius)
			0
			0;
	}

	.has-feature-color-background & {
		flex: 1;
		// This value is set if the current page has a custom feature color. Otherwise, use the fallback.
		background-color: var(--wporg-site-screenshot--background-color, #f6f6f6);

		&:first-child {
			flex: 4;
		}
	}

	.is-section-site-hero & {
		--wp--custom--wporg-site-screenshot--border--width: clamp(10px, calc(1.33vw - 1.33px), 20px);
		--wp--custom--wporg-site-screenshot--border--radius: calc(clamp(10px, calc(1.33vw - 1.33px), 20px) * 2);
		--wp--custom--wporg-site-screenshot--border--color: var(--wp--preset--color--charcoal-3);
		max-width: none;
	}

	a {
		display: block;
		height: 100%;

		&:focus,
		&:focus-visible {
			outline: none;
		}
	}

	img {
		width: 100%;
		vertical-align: middle;
	}

	&:not(.has-loaded).is-size-desktop {
		aspect-ratio: 535 / 300;
	}

	&:not(.has-loaded).is-size-mobile {
		aspect-ratio: 375 / 600;
	}

	.wporg-site-screenshot__mshot-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.wporg-site-screenshot__loader {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		&::after {
			content: "";
			display: inline-block;
			box-sizing: border-box;
			height: 16px;
			width: 16px;
			border: 1.5px solid;
			border-color:
				var(--wp--custom--wporg-site-screenshot--border--color)
				var(--wp--custom--wporg-site-screenshot--border--color)
				var(--wp--custom--link--color--text);
			border-radius: 50%;
			animation: rotate-360 1.4s linear infinite;
		}
	}

	.wporg-site-screenshot__error {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}

@keyframes rotate-360 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.wp-block-group.has-feature-color-background > .wp-block-group {
	// Scale 20px at 800 wide to 80px at 1200 wide.
	gap: clamp(20px, calc(15vw + -100px), 80px);

	@media (max-width: 781px) {
		gap: 0;

		.is-size-mobile {
			margin-left: -20%;
		}
	}
}
