.wp-block-wporg-site-screenshot {
	> a {
		display: block;
		border: 1px solid transparent;

		&:hover {
			border: 1px solid var(--wp--custom--link--color--text);
		}
	}

	img {
		width: 100%;
		vertical-align: middle;
		aspect-ratio: 16 / 9;
	}
}
