.wp-block-wporg-site-screenshot a {
	display: block;
	border: 1px solid var(--wp--preset--color--light-grey-1);
	border-radius: 2px;
	overflow: hidden;
}

.wp-block-wporg-site-screenshot:hover a {
	border: 1px solid var(--wp--custom--link--color--text);
}

// We use a post-title block which is a sibling to the screenshot
.wp-block-wporg-site-screenshot:hover + * > a {
	color: var(--wp--custom--link--color--text);
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

.wp-block-wporg-site-screenshot img {
	width: 100%;
	vertical-align: middle;
	aspect-ratio: 16 / 9;
}
