.wp-block-wporg-site-screenshot {
	overflow: hidden;
	border-width: var(--wp--custom--wporg-site-screenshot--border--width);
	border-style: solid;
	border-color: var(--wp--custom--wporg-site-screenshot--border--color);
	border-radius: var(--wp--custom--wporg-site-screenshot--border--radius);
	transition: border-color 0.2s ease-in-out;

	&:where(.is-linked-image):hover,
	&:where(.is-linked-image):focus-within {
		--wp--custom--wporg-site-screenshot--border--color: rgba(30, 30, 30, 0.25);
	}

	&:where(.is-linked-image):focus-within {
		outline: 1.5px solid var(--wp--custom--link--color--text);
		outline-offset: -1.5px;
	}

	.has-feature-color-background &,
	.is-section-site-hero & {
		--wp--custom--wporg-site-screenshot--border--width: clamp(4px, calc(1.33vw - 1.33px), 20px);
		--wp--custom--wporg-site-screenshot--border--radius: calc(clamp(4px, calc(1.33vw - 1.33px), 20px) * 2);
		border-bottom-width: 0;
		border-radius:
			var(--wp--custom--wporg-site-screenshot--border--radius)
			var(--wp--custom--wporg-site-screenshot--border--radius)
			0
			0;
	}

	.has-feature-color-background & {
		flex: 1;

		&:first-child {
			flex: 4;
		}
	}

	.is-section-site-hero & {
		--wp--custom--wporg-site-screenshot--border--color: var(--wp--preset--color--charcoal-2);
		max-width: none;
	}

	a {
		display: block;

		&:focus,
		&:focus-visible {
			outline: none;
		}
	}

	img {
		width: 100%;
		vertical-align: middle;
	}

	&.is-size-desktop img {
		aspect-ratio: 535 / 300;
	}

	&.is-size-mobile img {
		aspect-ratio: 375 / 600;
	}
}
